<div class="contents">
  <div class="contents_destroy">
    <h3>投稿を削除しました</h3>
  </div>
  <div class="contents_link">
    <span><%= link_to "トップページ", root_path, method: :get %></span>
    <span><%= link_to "投稿ページ", new_blog_path, method: :get %></span>
  </div>
</div>